//General Styles
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 40px;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Demo styles
button {
  margin: 0;
  padding: 15px 70px;

  outline: none;
  border: none;
  border-radius: 5px;
  background: lighten(crimson, 10%);
  color: white;
  overflow: hidden;
  transition: 500ms ease all;

  &:before {
    content: "";
    position: absolute;
    top: -40%;
    right: 110%;
    width: 30px;
    height: 200%;
    background: rgba(white, 0.3);
    transform: rotate(20deg);
  }

  &:hover {
    background: lighten(crimson, 13%);

    &:before {
      right: -50%;
      transition: 1s ease all;
    }
  }
}

